/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/vina -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input = "${projectDir}/tests/data/samplesheet_test_full.csv"

    // Docking box parameters - production quality
    center_x = 0.0
    center_y = 0.0
    center_z = 0.0
    size_x   = 25
    size_y   = 25
    size_z   = 25

    // Docking parameters - production quality
    exhaustiveness = 32
    num_modes      = 9
    energy_range   = 3

    // Molecule preparation
    receptor_ph = 7.4
    ligand_ph   = 7.4
}
