/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/moleculardocking -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data for molecular docking test
    // Using a simple test samplesheet with receptor-ligand pairs
    input  = "${projectDir}/tests/data/samplesheet_test.csv"

    // Docking box parameters for test
    // These coordinates are for a typical small molecule binding site
    center_x = 0.0
    center_y = 0.0
    center_z = 0.0
    size_x   = 20
    size_y   = 20
    size_z   = 20

    // Docking parameters - minimal for testing
    exhaustiveness = 1
    num_modes      = 3
    energy_range   = 3

    // Molecule preparation
    receptor_ph = 7.4
    ligand_ph   = 7.4

    // Remove all heteroatoms (ligands, waters, ions) from receptor
    // Required because co-crystallized ligands can cause Open Babel conversion issues
    remove_heteroatoms = true
}
